node_modules/
dist/
target/
bin/
obj/
.build/
*.gem
*.tgz
*.tar.gz
*.tar
*.nupkg
*.snupkg
*.rock
*.vsix
*.podspec.json
*.lock
Gemfile.lock
mix.lock
pubspec.lock
_build/
deps/
doc/
.dart_tool/
.pytest_cache/
__pycache__/
*.egg-info/
build/
.next/
.env
.env.*
!.env.example
